body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1479px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1479px;
  height:783px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1479px;
  height:783px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:388px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:35px;
  width:498px;
  height:388px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:299px;
  width:35px;
  height:35px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:269px;
  width:35px;
  height:35px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:212px;
  width:35px;
  height:35px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:194px;
  width:35px;
  height:35px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:349px;
  width:35px;
  height:35px;
  display:flex;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:52px;
  width:35px;
  height:35px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:49px;
  width:35px;
  height:35px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:212px;
  width:35px;
  height:35px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:35px;
  width:170px;
  height:49px;
  display:flex;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:84px;
  width:200px;
  height:36px;
  display:flex;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:49px;
  width:99px;
  height:29px;
  display:flex;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:311px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:445px;
  width:549px;
  height:311px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:445px;
  width:170px;
  height:49px;
  display:flex;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:494px;
  width:200px;
  height:36px;
  display:flex;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:523px;
  width:211px;
  height:32px;
  overflow:hidden;
  -webkit-transform:rotate(311deg);
  -moz-transform:rotate(311deg);
  -ms-transform:rotate(311deg);
  transform:rotate(311deg);
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:691px;
  width:122px;
  height:24px;
  overflow:hidden;
  -webkit-transform:rotate(224deg);
  -moz-transform:rotate(224deg);
  -ms-transform:rotate(224deg);
  transform:rotate(224deg);
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:612px;
  width:49px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
