body {
  margin:0px;
  background-image:url('../../images/地标/bg.jpg');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:1920px 1017px;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1479px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:1489px;
  height:793px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1479px;
  height:783px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:388px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:35px;
  width:498px;
  height:388px;
  display:flex;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:299px;
  width:35px;
  height:35px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:269px;
  width:35px;
  height:35px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:212px;
  width:35px;
  height:35px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:194px;
  width:35px;
  height:35px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:349px;
  width:35px;
  height:35px;
  display:flex;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:52px;
  width:35px;
  height:35px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:49px;
  width:35px;
  height:35px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:212px;
  width:35px;
  height:35px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:35px;
  width:170px;
  height:49px;
  display:flex;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:84px;
  width:200px;
  height:36px;
  display:flex;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u22 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:49px;
  width:99px;
  height:29px;
  display:flex;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u23 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:311px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:445px;
  width:549px;
  height:311px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:445px;
  width:170px;
  height:49px;
  display:flex;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
}
#u25 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:494px;
  width:200px;
  height:36px;
  display:flex;
  font-family:'思源黑体 ExtraLight', '思源黑体';
  font-weight:250;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u26 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:523px;
  width:211px;
  height:32px;
  overflow:hidden;
  -webkit-transform:rotate(311deg);
  -moz-transform:rotate(311deg);
  -ms-transform:rotate(311deg);
  transform:rotate(311deg);
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:691px;
  width:122px;
  height:24px;
  overflow:hidden;
  -webkit-transform:rotate(224deg);
  -moz-transform:rotate(224deg);
  -ms-transform:rotate(224deg);
  transform:rotate(224deg);
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:612px;
  width:49px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:593px;
  width:149px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:449px;
  width:136px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Light', '思源黑体';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:25px;
  width:240px;
  height:70px;
  display:flex;
  font-family:'思源黑体 Light', '思源黑体';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u32 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
